.utep_logo {
    float: right;
    max-width: 8%;
    max-height: 5%;
}

.devcom_logo {
    float: left;
    max-width: 10%;
    max-height: 5%;
}

body {
    background-image: url('img/Bg_Image1.jpg');
}

form{
    position:relative;
    margin:auto;
    width:765px;
    background-color:#EAEDED;
    border-radius:20px;
    top:70px;
    padding:25px;
    padding-bottom:50px
}

.create_proj{
    position:relative;
    text-align:center;
    bottom:10px
}

table, .create_proj{
    font-family:arial;
    font-weight:bold;
    font-size:250%;
    color:#5A5A5A
}

td{
    height:60px
}

.label_col{
    width:400px
}

input {
    font-family:arial;
    font-size:70%;
}

.sub_btn {
    position:relative;
    display:inline-block;
    margin-left:25%;
    border-radius:10px;
    font-family:arial;
    font-size:150%;
    padding:8px 16px;
    top:20px;

}

.back_btn {
    position:relative;
    display:inline-block;
    border-radius:10px;
    font-family:arial;
    font-size:150%;
    padding:8px 16px;
    top:20px;
 }

.sub_btn:hover {
    background:#9C9C9C;
    color:white
 }

.sub_btn:focus {
    outline: none;
    box-shadow: 0 0 0 2px black;
 }

.back_btn:hover {background:#9C9C9C;
    color:white
 }

.back_btn:focus {outline: none;
    box-shadow: 0 0 0 2px black;
 }