header {
    width: 964px;
    height: 90px;
}

.utep_logo {
    float: right;
    max-width: 7%;
    max-height: 7%;
}

.devcom_logo {
    float: left;
    max-width: 7%;
    max-height: 7%;
}

body {
    background-image: url('img/Bg_Image1.jpg');
}

form {
    margin:auto;
    top:8%;
    position:relative;
    width:765;
    border-style:solid;
    border-width:0px;
    background-color:#EAEDED;
    border-radius:20px;
    padding:25px
}

.cp_table, .create_proj {
    font-family:arial;
    font-weight:bold;
    font-size:250%;
    color:#5A5A5A
}

.create_proj {
    position:relative;
    text-align:center;
    bottom:10px
}

.label_col, input.col {
    height:60px
}

.label_col {
    width:400px
}

input {
    font-family:arial;
    font-size:70%
}

.sub_btn {
    position:relative;
    display:inline-block;
    margin-left:25%;
    border-radius:10px;
    font-family:arial;
    font-size:150%;
    padding:8px 16px; top:10px

}

.back_btn {
    position:relative;
    display:inline-block;
    border-radius:10px;
    font-family:arial;
    font-size:150%;
    padding:8px 16px; top:10px
 }

.sub_btn:hover {
    background:#9C9C9C;
    color:white
 }

.sub_btn:focus {
    outline: none;
    box-shadow: 0 0 0 2px black;
 }

.back_btn:hover {background:#9C9C9C;
    color:white
 }

.back_btn:focus {outline: none;
    box-shadow: 0 0 0 2px black;
 }
