header {
    width: 964px;
    height: 90px;
}

.utep_logo {
    float: right;
    max-width: 5%;
    max-height: 5%;
}

.devcom_logo {
    float: left;
    max-width: 10%;
    max-height: 10%;
}

body {
    font-size: 20px;
    display: block;
    color: white;
    font-family: "Helvetica", Sans-Serif;
    background-image: url('img/Bg_Image1.jpg');
    display: inline-block;
}

.button {
    background-color: white;
    color: black;
    text-align: center;
    display: inline-block;
    padding: 20px;
    font-size: 18px;
    font: "Helvetica", "Sans-Serif";
    align-items: center;
}

.button1 {
    border-radius: 12%;
    width: 200px;
    height: 100px;
}

.button2 {
    border-radius: 12px;
    width: 200px;
    height: 100px;
}