header {
    width: 964px;
    height: 90px;
}

.utep_logo {
    float: left;
    max-width: 5%;
    max-height: 5%;
}

.devcom_logo {
    float: right;
    max-width: 10%;
    max-height: 10%;
}
.CAN_logo {
  position: absolute;
  max-width: 70%;
  max-height: 70%;
  top: 500;
  bottom: 0;
  left: 200;
}

body {
    font-size: 20px;
    display: block;
    color: white;
    font-family: "Helvetica", Sans-Serif;
    background-image: url('img/Bg_Image1.jpg');
    display: inline-block;
}

div button {
    font-family: "Helvetica", Sans-Serif;
    display: inline-block;
    text-align: center;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
  .table{
    border: 1px solid rgb(45, 80, 233);
    border-radius: 10px;
    border-spacing: 5px;
    margin: 1rem;
    background-color: #6da9e6;
    width: 95%;

  }
  .table__row:nth-child(even){
    background-color: #778899;
  }
  .table__header{
    text-align: center;

  }
  .table__cell{
    text-align: center;
    padding: 8px;
    border-radius: 10px;
  }

  .myBox 
  {
    padding: 5px;
    font: 24px/36px sans-serif;
    width: 1800px;
    height: 200px;
    overflow: scroll;
    }
    
    /* Scrollbar styles */
    ::-webkit-scrollbar 
    {
    width: 12px;
    height: 12px;
    }
    
    ::-webkit-scrollbar-track 
    {
    border: 1px solid yellowgreen;
    border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb 
    {
    background: yellowgreen;  
    border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb:hover 
    {
    background: #88ba1c;  
    }



