h1
{
  font-size: 55;
  text-align: center;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

body {
  width: 1895;
    font-size: 12px;
    display: block;
    color: white;
    font-family: "Helvetica", Sans-Serif;
    background-image: url('img/Bg_Image1.jpg');
    overflow: scroll;
    display: inline-block;
} * {box-sizing: border-box;} /* Added for the form */

.button1, .button2
{
  border-radius: 12px;
  font-size: 24px;
  padding: 24px;
  font-family: "Helvetica", Sans-Serif;
  font-weight: bold;
  background-color: white;
  color: black;
  text-align: center;
  display: inline-block;
  align-items: center;
  position: absolute;
  /* Modify position of the buttons */
  top: 700px;
  left: 1760px;
}

div button {
    font-family: "Helvetica", Sans-Serif;
    display: inline-block;
    text-align: center;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  background-color: gray;
  overflow: hidden;
}

/* Config for dropdown options*/
.navbar a {
  background-color: gray;
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Dropdown block (Horizontal or vertical) */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button properties */
.dropdown .dropbtn 
{
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn 
{
  background-color: cornflowerblue;
}


/* Content inside the dropdown (Text)*/
.dropdown-content 
{
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a 
{
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover 
{
  background-color: cornflowerblue;
}

.dropdown:hover .dropdown-content 
{
  display: block;
}

.table 
{
  text-align: center;
  margin: 1rem;
  background-color: #6da9e6;
  width: 98%;
}

.table__row:nth-child(even) 
{
  background-color: #778899;
}

.table__header
{
  text-align: center;
}

.table__cell
{
  text-align: center;
  padding: 8px;
  border-radius: 10px;
}

/* packets */
.myBox 
{
  position: fixed;
  top: 700px;
  left: 7%;
  font: 24px/36px sans-serif;
  width: 1600px;
  height: 200px;
  overflow: scroll;
  border: 2px solid black;
  position: absolute;
  
}

.myBox2
{
  position: fixed;
  top: 100px;
  left: 25px;
  padding: 5px;
  font: 24px/36px sans-serif;
  width: 1850px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.myDiagram
{
  width:1100px; 
  height:500px; 
  border: 3px solid black;

}

/* Scrollbar styles */
::-webkit-scrollbar 
{
width: 12px;
height: 12px;
}

::-webkit-scrollbar-track 
{
border: 1px solid yellowgreen;
border-radius: 10px;
}

::-webkit-scrollbar-thumb 
{
background: yellowgreen;  
border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover 
{
background: #88ba1c;  
}

/*POPUP STUFF */

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: #6da9e6;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
} 