header {
    width: 964px;
    height: 90px;
}

.utep_logo {
    float: left;
    max-width: 5%;
    max-height: 5%;
}

.devcom_logo {
    float: right;
    max-width: 10%;
    max-height: 10%;
}

body {
    font-size: 20px;
    display: block;
    color: white;
    font-family: "Helvetica", Sans-Serif;
    background-image: url('img/Bg_Image1.jpg');
    display: inline-block;
}

div button {
    display: inline-block;
    width: 100px;
}