<html>
   <head>
      <title>Main Page</title>
   </head>
   <h1 style="font-size: 55; text-align: center; color: white;">
      <img src="{{ url_for('static', filename = 'img/UTEP_BLUE.png')}}" alt="logo" class="utep_logo"/>
      <img src= "{{ url_for('static', filename = 'img/DEVCOM.png')}}" alt="logo" class="devcom_logo"/>
      Main Menu
   </h1>
   <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='Main_Page.css')}}">
   <body>
      <button onclick="window.location='create_project';">Create Project</button>
        <button class="button button2">Open Project</button>
</body>
</html>