<html>
   <head>
      <title>Project</title>
   </head>
   <h1 style="font-size: 55; text-align: center; color: white;">
      <img src="{{ url_for('static', filename = 'img/UTEP_BLUE.png')}}" alt="logo" class="utep_logo"/>
      <img src= "{{ url_for('static', filename = 'img/DEVCOM.png')}}" alt="logo" class="devcom_logo"/>
      Project
   </h1>
   <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='Project_Page.css')}}">
   <body>
      <!--This is handles the dropdown options-->
      <!-- File - View - Packets -->
      <div class="navbar">
         <!--<a href="#home">Home</a>
         <a href="#news">News</a>-->
         <div class="dropdown">
           <button class="dropbtn">File 
             <i class="fa fa-caret-down"></i>
           </button>
           <!--Added drop down Edit Configurations takes to config page-->
           <div class="dropdown-content">
             <a href="#">Save Project</a>
             <a href="#">Open Saved Packets</a>
             <a href="edit_config">Edit Configurations</a>
           </div>
         </div> 
         <div class="dropdown">
            <button class="dropbtn">View 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="#">Filter Packets</a>
              <a href="#">Sort Packets</a>
            </div>
          </div> 
          <div class="dropdown">
            <button class="dropbtn">Packets 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="#">Edit Packet</a>
              <a href="#">Replay Packet</a>
              <a href="#">Save Packet</a>
              <a href="#">Annotate Packet</a>
            </div>
          </div> 
        </div>
       <div class="myBox">
        <table class="table">
          <tr class="table__header">
            {% for header in headings %}
            <th class="table__cell">{{ header}}</th>
            {% endfor %}
          </tr>
          {% for row in data %}
          <tr class="table__row">
             {% for cell in row %}
             <td class="table__cell">{{ cell }}</td>
             {% endfor%}
          <tr>      
          {% endfor %}
        </table>
      </div>


     <form action="" method="post">
      <input type="Submit" class="button1" value = "Start" name = "start">
    </form>

    <form action="" method="post">
      <input type="Submit" class="button2" value = "Stop" name = "stop">
    </form>



     

</body>
</html>