<html>
   <head>
      <title>Project Page</title>
   </head>
   <h1>Project</h1>
   <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='Project_Page.css')}}">
   
   <body>

      <div class="navbar">

         <!-- DROPDOWN FOR FILE -->
         <div class="dropdown">
           <button class="dropbtn">File 
             <i class="fa fa-caret-down"></i>
           </button>
           <div class="dropdown-content">
             <a href="#">Save Project</a>
             <a href="#">Open Saved Packets</a>
             <a href="edit_config">Edit Configurations</a>
           </div>
         </div> 

         <!-- DROPDOWN FOR VIEW -->
         <div class="dropdown">
            <button class="dropbtn">View 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="#">Filter Packets</a>
              <a href="#">Sort Packets</a>
            </div>
          </div> 

          <!-- DROPDOWN FOR PACKETS -->
          <div class="dropdown">
            <button class="dropbtn">Packets 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a class ="open-button" id = "edit" onclick="myfunction_clickevent_edit()">Edit Packet</a>

              <div class="form-popup" id="myForm">
                <form action="/project_page.html" class="form-container">
                  <h2>Edit Packet</h2>

                  <label for="name"><b>Name:</b></label>
                  <input type="text" placeholder="Name" name="name" required>

                  <label for="id"><b>ID:</b></label>
                  <input type="text" placeholder="ID" name="id" required>

                  <label for="data"><b>Data:</b></label>
                  <input type="text" placeholder="Data" name="data" required>

                  <button type="submit" class="btn">Accept</button>
                  <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                </form>
              </div>

              <a id = "save" onclick="myfunction_clickevent_save()">Save Packet</a>
              <a id = "annotate" onclick="myfunction_clickevent_annotate()">Annotate Packet</a>
            </div>

          </div> 
        </div>

        <script>
          function openForm() {
          document.getElementById("myForm").style.display = "block";
          }

          function closeForm() {
          document.getElementById("myForm").style.display = "none";
          }
        </script>

      <!-- CONTAINER FOR PACKET TABLE -->
       <div class="myBox" id="box">



              <button id = "replay" onclick="myfunction_clickevent_replay()">Replay Packet</button>

        <table class="table" id = "tab">
          <tr class="table__header">
            {% for header in headings %}
            <th class="table__cell">{{ header}}</th>
            {% endfor %}
          </tr>
          {% for row in data %}
          <tr class="table__row">
             {% for cell in row %}
             <td class="table__cell">{{ cell }}</td>
             {% endfor%}
          <tr>      
          {% endfor %}
        </table>
      </div>

      <!-- CONTAINER FOR MAP -->
      <div class="myBox2" id="box2">
      </div> 

      <element onload="myfunction_onload">
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
      <button type="submit" class= "button2" onclick='myfunction_clickevent_send()'>Send</button>
      

      <script>
        function myfunction_onload(){
            $.ajax({
                url: "main.py",
                 context: document.body
                })
            }
        </script>
    
    <script>
        function myfunction_clickevent_send(){
          $('#tab').load(document.URL +  ' #tab');
            $.ajax({
                url:"/send",
                context: document.body});}
    </script>


<script>
  function myfunction_clickevent_edit(){
      $.ajax({
          url:"/edit",
          context: document.body});}
</script>

<script>
  function myfunction_clickevent_replay(){
      $.ajax({
          url:"/replay",
          context: document.body});}
</script>
<script>
  function myfunction_clickevent_save(){
      $.ajax({
          url:"/save",
          context: document.body});}
</script>
<script>
  function myfunction_clickevent_annotate(){
      $.ajax({
          url:"/annotate",
          context: document.body});}

</script>


</body>
</html>