



<html>
    <head>
        <title>Sync Project</title>
        <h1 style="font: 55; text-align: center; color: white">
            <img 
            src="{{ url_for('static', filename = 'img/UTEP_BLUE.png')}}" alt="logo" class="utep_logo"
            />
            <img 
            src= "{{ url_for('static', filename = 'img/DEVCOM.png')}}" alt="logo" class="devcom_logo"
            />
            <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
            Sync Project
        </h1>
    </head>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='sync_project.css')}}">

    <form action = "/sync_project" method = "POST" enctype="multipart/form-data">
        <br><br>    
        <label for="fname">Source Path:</label>
        <input type="text" id="fname" name="sourcePath"><br><br>
        <label for="lname">Destination Path:</label>
        <input type="text" id="lname" name="destinationPath"><br><br>
            <button type="submit "class="btn btn-primary">R-Sync Project</button>
        <h2>{{Success}}</h2>
    </form>

    
    <body>
    </body>
</html>