



<html>
    <head>
        <title>Sync Project</title>
        <h1 style="font: 55; text-align: center; color: white">
            <img 
            src="{{ url_for('static', filename = 'img/UTEP_BLUE.png')}}" alt="logo" class="utep_logo"
            />
            <img 
            src= "{{ url_for('static', filename = 'img/DEVCOM.png')}}" alt="logo" class="devcom_logo"
            />
            <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
            Sync Project
        </h1>
    </head>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='sync_project.css')}}">
    <form action = "/sync_project" method = "POST" enctype="multipart/form-data">
        

    <label for="folder">Select folder</label>
        <from method="Post">
            <input type="file" name = "from_folderpath" id="folder" webkitdirectory multiple/>
            <input type="file" name = "to_folderpath" id="folder" webkitdirectory multiple/>
            <button type="submit "class="btn btn-primary">Sync Project</button>
        </form>
        <h2>Selected Files</h2>

    </form>
    <body>
    </body>
</html>